@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --powder-petal: #eddcd2ff;
  --linen: #fff1e6ff;
  --soft-blush: #fde2e4ff;
  --petal-frost: #fad2e1ff;
  --light-cyan: #c5deddff;
  --mint-cream: #dbe7e4ff;
  --parchment: #f0efebff;
  --alice-blue: #d6e2e9ff;
  --pale-sky: #bcd4e6ff;
  --powder-blue: #99c1deff;
}

body {
  margin: 0;
  font-family: 'Lora', serif;
  background-color: var(--parchment);
  color: #000;
}

.display-large {
  font-family: 'Lora', serif;
  font-size: 39.06px;
  font-weight: 800;
  line-height: 1.78;
  letter-spacing: 0.015em;
}

.display-medium {
  font-family: 'Lora', serif;
  font-size: 34.94px;
  font-weight: 800;
  line-height: 1.78;
  letter-spacing: 0.015em;
}

.h1 {
  font-family: 'Lora', serif;
  font-size: 31.25px;
  font-weight: 700;
  line-height: 1.78;
  letter-spacing: 0.02em;
}

.h2 {
  font-family: 'Lora', serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.78;
  letter-spacing: 0.02em;
}

.h3 {
  font-family: 'Lora', serif;
  font-size: 22.36px;
  font-weight: 600;
  line-height: 1.84;
  letter-spacing: 0.025em;
}

.h4 {
  font-family: 'Lora', serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.84;
  letter-spacing: 0.025em;
}

.h5 {
  font-family: 'Lora', serif;
  font-size: 18.91px;
  font-weight: 500;
  line-height: 1.84;
  letter-spacing: 0.03em;
}

.h6 {
  font-family: 'Lora', serif;
  font-size: 17.89px;
  font-weight: 500;
  line-height: 1.84;
  letter-spacing: 0.03em;
}

.body-xl {
  font-family: 'Lora', serif;
  font-size: 16.92px;
  font-weight: 400;
  line-height: 1.84;
  letter-spacing: 0.03em;
}

.body {
  font-family: 'Lora', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.84;
  letter-spacing: 0.03em;
}

.body-small {
  font-family: 'Lora', serif;
  font-size: 15.13px;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.caption-large {
  font-family: 'Lora', serif;
  font-size: 14.31px;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.caption {
  font-family: 'Lora', serif;
  font-size: 13.53px;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.caption-small {
  font-family: 'Lora', serif;
  font-size: 12.8px;
  font-weight: 300;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.overline {
  font-family: 'Lora', serif;
  font-size: 12.11px;
  font-weight: 500;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
